# Node modules
node_modules/

# Environment variable files
.env

# Logs
*.log

# Mac system files
.DS_Store

# Optional: npm-debug log
npm-debug.log*

# VS Code settings (if you use VS Code)
.vscode/
